.button-css{
    display: inline-block;
    background:royalblue repeat-x 0 0;
    /*background:url(/static/images/button.jpg) repeat-x 0 0;*/
    padding: 0 10px 0 10px;
    font-size: 15px;
    text-decoration: none;
    color: whitesmoke;
    height: 32px;
    width: 100px;
    line-height: 22px;
    border: 1px solid #CCC;
}

.box-one{
    width: 380px;
    height: 5px;
    margin-right: auto;
    font-size: 14px;
}

.box-two{
    width: 380px;
    margin-left: auto;
    font-size: 14px;
}

.input{
    width: 260px;
    border: 1px solid #e2e2e2;
    height: 37px;
    float: left;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 40px;
}
.search{
    width: 78px;
    height: 32px;
    float: right;
    background: #5897fb;
    color: white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    }


.button-sumbit{
    display: inline-block;
    background:royalblue repeat-x 0 0;
    /*background:url(/static/images/button.jpg) repeat-x 0 0;*/
    padding: 0 20px 0 20px;
    font-size: 15px;
    text-decoration: none;
    color: whitesmoke;
    height: 30px;
    width: 80px;
    line-height: 22px;
    border: 1px solid #CCC;
}