html, body {
         
			
}
.top{
	width:100%;
	height:50px;
	background: #2a2e35;
}

.nav{
	width:200px;
	height:550px;
	background: #2a2e35;
	position:fixed;
	margin-top:8px;
	color:#FFFFFF;
    float: left;
}

.count{
    width:1680px;
	/* height:550px;*/
	margin-top:20px;
    float: right;
}

.count-up{
    width:1680px;
    height:50px;
/*    background:rosybrown;*/
    float: right;
}

.count-middle{
    width:1680px;
   /* height:450px;*/
/*    background:seagreen;*/
    float: right;
}

.count-down{
    width:1680px;
    height:50px;
 /*   background:blue;*/
    float: right;
}

.td-center{
    text-align:center;
}

.td-select{
    width:150px;
}

.li-serverconfig{
    height:40px;
}

.tableforversionlist{
    width:1650px;
	height:900px;
    float: left;
}

.thforversionlist{
    width:280px;
	height:20px;
}

.tdforversionlist{
    width:280px;
	height:20px;
}

  .tree {margin: 0;padding: 0;overflow: hidden;}
    .tree li input{position: absolute;left: 0;opacity: 0;z-index: 2;cursor: pointer;height: 1em;width:1em;top: 0;}
    .tree li {position: relative;list-style: none;}
    .tree>li{border-bottom: 0 solid #d9d9d9;}
    .tree li label {max-width:999px;cursor: pointer;display: block;margin:0 0 0 -50px;padding: 15px 10px 15px 70px; no-repeat:right center;background-position:95% 50%;white-space:nowrap;overflow:hidden;text-overflow: ellipsis; }
    .tree li label:hover,li label:focus{background-color:#a7a7a7;color:#fff; !important;}
    .tree li input + ol{display: none;}
    .tree input:checked + ol {padding-left:14px;height: auto;display: block;}  
    .tree input:checked + ol > li { height: auto;}
    .tree li.file a{margin:0 -10px 0 -50px;padding: 15px 20px 15px 70px;text-decoration:none;display: block;color: #FFFFFF;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;} 
    .tree li.file a:hover,li.file a:focus{background-color:#a7a7a7;color:#fff;}
    .tree .folderOne{font-size: 14px;}
    .tree .folderTwo{font-size:14px;}
    .tree .folderThree{font-size:14px;}