{% extends 'index.html' %}
{% block title %}主机管理{% endblock %}
{% block content %}
    <div class="count">
        <div class="count-up">
            <table>
                <div class="box-one">
                    <form action="/index/HostConfig/AddHost/" method="GET">
                        <input class="layui-btn" type="submit" value="添加主机"/>
                    </form>
                </div>
                <div class="box-two">
                    <form action="/index/HostConfig/SelectHost/" method="GET">
                        <input class="input" type="text" name="search" placeholder="主机名/IP">
                        <input class="layui-btn" type="submit" value="搜索"/>
                    </form>
                </div>
            </table>
        </div>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>服务器名字</th>
                    <th>IP地址</th>
                    <th>说明</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    {% for line in host_list %}
                    <tr>
                        <td class="tdforversionlist" align="center">{{ line.0 }}</td>
                        <td class="tdforversionlist" align="center">{{ line.1 }}</td>
                        <td class="tdforversionlist" align="center">{{ line.2 }}</td>
                        <td class="tdforversionlist" align="center">{{ line.3 }}</td>
                        <td class="tdforversionlist" align="center">
                            <a href="/index/HostConfig/UpdateHost/?hostid={{ line.0 }}"><font style="color:deepskyblue; font-size:16px; font-weight:bold">编辑</font></a>
                            <a href="/index/HostConfig/DelHost/?hostid={{ line.0 }}"><font style="color:deepskyblue; font-size:16px; font-weight:bold">删除</font></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="demo7"></div>
        <div class="count-down">
            <nav aria-label="Page navigation">
                {% if host_list.has_previous %}
                        <a href="?page={{ host_list.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                {% endif %}
                {% for page_num in host_list.paginator.page_range %}
                    {% if host_list.number == page_num %}
                        <a href="?page={{ page_num }}">{{ page_num }}</a>
                    {% else %}
                        <a href="?page={{ page_num }}">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}
                {% if host_list.has_next %}
                        <a href="?page={{ host_list.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                {% endif %}
            </nav>
        </div>
    </div>
{% endblock %}