{% extends 'index.html' %}
{% block title %}微服务管理{% endblock %}
{% block content %}
    <div class="count">
        <div class="count-up">
             <table>
                <th>服务器：</th>
                <td class="td-select">
                    <select id="host" name="host" style="width:120px">
                        {% for result in host_list %}
                            <option value ="{{ result.0 }}">{{ result.0 }}</option>
                        {% endfor %}
                    </select>
                <th>项目：</th>
                <td width="150">
                    <select id="project" name="project" style="width:120px">
                        {% for result in project_list %}
                            <option value ="{{ result.0 }}">{{ result.0 }}</option>
                        {% endfor %}
                    </select>
                </td>
                 <td width="110">
                     <button class="layui-btn" name="update" onclick="isupdate()">版本发布</button>
                 </td>
                <td>
                    <button class="layui-btn" name="rollback" onclick="isrollback()">版本回退</button>
                </td>
            </table>
        </div>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>服务器</th>
                    <th>项目</th>
                    <th>版本</th>
                    <th>更新时间</th>
                    <th>操作</th>
                    <th>用户</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                    {% for line in versionlog_list %}
                    <tr>
                        <td class="tdforversionlist" align="center">{{ line.0 }}</td>
                        <td class="tdforversionlist" align="center">{{ line.1 }}</td>
                        <td class="tdforversionlist" align="center">{{ line.2 }}</td>
                        <td class="tdforversionlist" align="center">{{ line.3 }}</td>
                        <td class="tdforversionlist" align="center">{{ line.4|date:"Y-m-d H:i:s" }}</td>
                        <td class="tdforversionlist" align="center">{{ line.5 }}</td>
                        <td class="tdforversionlist" align="center">{{ line.6 }}</td>
                        <td class="tdforversionlist" align="center">{{ line.7 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="count-down">
            <nav aria-label="Page navigation">
                {% if versionlog_list.has_previous %}
                        <a href="?page={{ versionlog_list.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                {% endif %}
                {% for page_num in versionlog_list.paginator.page_range %}
                    {% if versionlog_list.number == page_num %}
                        <a href="?page={{ page_num }}">{{ page_num }}</a>
                    {% else %}
                        <a href="?page={{ page_num }}">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}
                {% if versionlog_list.has_next %}
                        <a href="?page={{ versionlog_list.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                {% endif %}
            </nav>
            </div>
        </div>
    </div>
{% endblock %}