{% extends 'index.html' %}
{% block title %}瑞鹏ERP/HIS相关站点{% endblock %}
{% block content %}
    <div class="count">
        <div class="count-up">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                <legend>瑞鹏ERP/HIS相关站点</legend>
            </fieldset>
        </div>
        <div class="count-middle">
            {% for result in OtherSystem_list_URL %}
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">{{ result.0 }}</div>
                    <div class="layui-card-body">
                        <div>说明：</div>
                        <div>{{ result.1 }}</div>
                        <hr class="layui-bg-green">
                        <div class="li-serverconfig"><a href="{{ result.2 }}" class="layui-btn layui-btn-normal layui-btn-radius layui-btn-sm" target='_blank'>跳转</a></div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
        <div style="clear: both"></div>
        <div class="count-down">
            <nav aria-label="Page navigation">
                {% if OtherSystem_list_URL.has_previous %}
                    <a href="?page={{ OtherSystem_list_URL.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>
                {% endif %}
                {% for page_num in OtherSystem_list_URL.paginator.page_range %}
                    {% if OtherSystem_list_URL.number == page_num %}
                        <a href="?page={{ page_num }}">{{ page_num }}</a>
                    {% else %}
                        <a href="?page={{ page_num }}">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}
                {% if OtherSystem_list_URL.has_next %}
                    <a href="?page={{ OtherSystem_list_URL.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                {% endif %}
            </nav>
        </div>
{% endblock %}