{% extends 'index.html' %}
{% block title %}编辑角色{% endblock %}
{% block content %}
    <div class="count">
        <div class="count-up">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                <legend>编辑角色</legend>
                {% for result in funname %}
                    {{ result.0 }}
                {% endfor %}
            </fieldset>
        </div>
        <div class="count-middle">
            <form class="layui-form" action="" lay-filter="example">
                <input type="hidden" value="{{role.id}}" name='roleid' />
                <div class="layui-form-item">
                    <label class="layui-form-label">角色名：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="rolename" lay-verify="required" placeholder="请输入您的角色名" autocomplete="off" class="layui-input" value="{{ role.rolename }}">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">说明：</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>
                    </div>
                </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">权限配置：</label>
                    <div class="layui-input-block">
                        {% for result in function_list %}
                        <input type="checkbox" name="A{{ result.0 }}" lay-skin="primary" title="{{ result.1 }}" {% if result.2 > 0   %}checked{% endif %}>
                        {% endfor %}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否启用：</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="isclose" lay-skin="switch" lay-text="启用|禁用">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 50px">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="count-down">
            <!--h3 align="center">这是主界面下部分！</h3-->
        </div>
    </div>
    <script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;

  //日期
  laydate.render({
    elem: '#date'
  });
  laydate.render({
    elem: '#date1'
  });

  //创建一个编辑器
  var editIndex = layedit.build('LAY_demo_editor');

  //自定义验证规则
  form.verify({
    title: function(value){
      if(value.length < 5){
        return '标题至少得5个字符啊';
      }
    }
    ,pass: [
      /^[\S]{6,12}$/
      ,'密码必须6到12位，且不能出现空格'
    ]
    ,content: function(value){
      layedit.sync(editIndex);
    }
  });

  //监听指定开关
  form.on('switch(switch)', function(data){
    layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
      offset: '6px'
    });
   // layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
  });

  //监听提交
  form.on('submit(demo1)', function(data){
      console.log();
                  $.ajax({
                type: "post",
                url: "/index/RoleConfig/ToUpdateRole/",
                data:data.field,
                //data: { username: data.field.username,password:$("#password").val(),staffname:$("#staffname").val(),email:$("#email").val(),isclose:$("#isclose").val(),role:$("#role").val(),type:'adduser'},
                cache: false,
                async: true,
                dataType: 'json',
               success: function (data) {
                    layer.alert(data.code,function(index){
 location.reload();
});
                }
            });
                  return false;
  });
    form.val('example', {
    "isclose": JSON.parse('{{ isclose }}') //开关状态
  });
});
</script>
{% endblock %}