{% extends 'index.html' %}
{% block title %}修改密码{% endblock %}
{% block content %}
    <div class="count">
        <div class="count-up">
            <!--h3 align="center">这是主界面上部分！</h3-->
        </div>
        <div class="count-middle">
            <form class="layui-form" action="" lay-filter="example">
                <div class="layui-form-item">
                    <label class="layui-form-label">原密码：</label>
                    <div class="layui-input-inline">
                        <input type="password" name="OldPassword" lay-verify="required" placeholder="请输入原来的密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码：</label>
                    <div class="layui-input-inline">
                        <input type="password" name="NewPassword" lay-verify="required" placeholder="请输入新的密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">再次输入：</label>
                    <div class="layui-input-inline">
                        <input type="password" name="NewPasswordAgain" lay-verify="required" placeholder="请再次输入您的密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 50px">
                        <button name="adduser" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="count-down">
            <!--h3 align="center">这是主界面下部分！</h3-->
        </div>
    </div>
    <script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;

  //日期
  laydate.render({
    elem: '#date'
  });
  laydate.render({
    elem: '#date1'
  });

  //创建一个编辑器
  var editIndex = layedit.build('LAY_demo_editor');

  //自定义验证规则
  form.verify({
    title: function(value){
      if(value.length < 5){
        return '标题至少得5个字符啊';
      }
    }
    ,pass: [
      /^[\S]{6,12}$/
      ,'密码必须6到12位，且不能出现空格'
    ]
    ,content: function(value){
      layedit.sync(editIndex);
    }
  });

  //监听指定开关
  form.on('switch(example)', function(data){
    layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
      offset: '6px'
    });
    //layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
  });

  //监听提交
  form.on('submit(demo1)', function(data){
                  $.ajax({
                type: "post",
                url: "/index/UserConfig/ToUpdatePassword/",
                data:data.field,
                //data: { username: data.field.username,password:$("#password").val(),staffname:$("#staffname").val(),email:$("#email").val(),isclose:$("#isclose").val(),role:$("#role").val(),type:'adduser'},
                cache: false,
                async: true,
                dataType: 'json',
               success: function (data) {
                    layer.alert(data.code,function(index){
 location.reload();
});
                }
            });
                  return false;
  });
    form.val('example', {
    "isclose": true //开关状态
  });
});
</script>
{% endblock %}